@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Display:wght@300;400;500;600;700;800;900&display=swap');

@layer base {
    html {
        @apply text-primary font-normal;
        font-family: 'Poppins', sans-serif;
    }

    h1 {
        @apply text-md lg:text-xl lg:leading-lxl font-medium;
    }

    .btn {
        @apply px-8 py-3 transition-all text-center;
    }
    .btn-primary {
        @apply px-14 py-4 text-white bg-red-300 text-sm hover:bg-red-500 uppercase;
    }

    .bg-gradient-light {
        background: rgb(255,255,255);
        background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(246,247,255,1) 100%);
    }
    
    /*----- form elements --*/
    input {
        @apply bg-gray-400 h-10;
    }


    /*----- navbar --*/
    header {
        background: url('../images/bateau-sur-plan-eau.jpg') no-repeat center center/cover;
    }

    #menu {
        @apply transition-all duration-300 ease-in-out;
    }
    @media (max-width: 768px) {
        #menu {
            transition: all 0.3s ease-in-out;
            @apply h-0;
        }
        #menu.active {
            @apply flex w-full absolute bg-white left-0 top-[90%] flex-col p-4 h-auto;
        }
        #menu.active a {
            @apply text-primary;
        }
    }
      
    @media (min-width: 768px) {
        .nav {
          display: flex;
        }
    }
    .bg-pseudo {
        @apply relative;
        &:before {
            content: '';
            @apply absolute top-0 left-0 right-0 bottom-0 bg-dark-500 bg-opacity-35 z-10;
        }
    }
    .bg-pseudo-primary {
        @apply relative;
        &:before {
            content: '';
            @apply absolute top-0 left-0 right-0 bottom-0 bg-primary bg-opacity-35 z-10;
        }
    }
    .bg-pseudo-linear {
        @apply relative;
        &:before {
            content: '';
            background: rgb(255,255,255);
            background: linear-gradient(180deg, rgba(255,255,255,0) 50%, rgba(2,45,69,1) 100%);
            @apply absolute top-0 left-0 right-0 bottom-0 z-10;
        }
    }


    /* range slider */
    .range-slider {
        @apply bg-gray-600 w-full z-10 relative h-[2px] rounded-[15px];
        /* @media screen and (max-width: 1280px) {
            @apply 
        } */
        .progress {
            @apply bg-red-300 absolute left-[25%] right-0 h-full rounded-[15px];
        }
        input[type="range"] {
            @apply absolute w-full h-[10px] top-[-3px] appearance-none pointer-events-none bg-transparent outline-none;
        }
        .range-min::-webkit-slider-thumb,
        .range-max::-webkit-slider-thumb {
            @apply bg-red-300 z-10 w-[15px] h-[15px] hover:cursor-pointer rounded-[20px] pointer-events-auto appearance-none;
        }
    }
    .numberVal {
        input[type="number"] {
            @apply w-auto p-0 font-medium text-xs;
        }
        /* get the last */
        &:last-child {
            input[type="number"] {
                @apply text-right;
            }
        }
    }

    .col-transform {
        overflow: hidden;
        .bg-pseudo-primary {
            clip-path: polygon(15% 0, 100% 0%, 85% 100%, 0 100%);
            @apply ml-[-3%] mr-[-3%];
            .content {
                @apply px-5 w-3/4 mx-auto;
            }
            &:first-child {
                clip-path: polygon(0 0, 100% 0%, 85% 100%, 0 100%);
            }
            &:last-child {
                clip-path: polygon(15% 0, 100% 0%, 100% 100%, 0 100%);
            }
            @media screen and (max-width: 1024px) {
                clip-path: none !important;
            }
        }
    }

    .slider-hidden {
        .slick-slide {
            transform: translateX(-20%);
            @media screen and (max-width: 1024px){
                transform: none;
            }
        }
    }
    .buttons-slider {
        .slick-prev,
        .slick-next {
            &:before { display: none; }
            @apply relative left-0 right-0 top-0 transform-none w-[65px] h-[65px] bg-white flex items-center justify-center shadow-[0px_10px_58px_-15px_rgba(0,0,0,0.4)];
        }
    }

}


